<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> 
    <link rel="stylesheet" href="/stylesheets/bootstrap-combined.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="container">
    	<h1>阅微笔记</h1>
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<ul class="nav">
					<li class=""><a href="/css">css</a></li>
					<!-- <li><a href="/javascript">javascript</a></li> -->
					<li><a href="/jQuery">jQuery</a></li>
					<li class="active"><a href="/">页面制作</a></li>
				</ul>
				<ul class="nav pull-right">
				
					<li><a data-toggle="modal" href="#myModal">登录</a></li>
					<li><a data-toggle="modal" href="#myModal2">注册</a></li>
				</ul>
			</div>
		</div>