<% include header %>
		<div id="content" class="row-fluid" >
			<div class="span3 sidebar">
				<ul class="nav nav-tabs nav-stacked">
					<li class="active"><a href="#tab1" data-toggle="tab">页面模板1</a></li>
					<li><a href="#tab2" data-toggle="tab">页面模板2</a></li>
					<li><a href="#tab3" data-toggle="tab">豆瓣主页</a></li>
					<li><a href="#tab4" data-toggle="tab">迅雷登录</a></li>
					<li><a href="#">未完待续...</a></li>
					
				</ul>
			</div>
			<div class="span9 tab-content main">
				<div class="tab-pane active" id="tab1">
					<h2 class="text-center">页面模板1</h2>	
					<p class="text-center"><a href="51.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<img src="images/51.png" alt="51.png">
					<p></p>
				</div>
				<div class="tab-pane" id="tab2">
					<h2 class="text-center">页面模板2</h2>	
					<p class="text-center"><a href="50.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<img src="images/50.png" alt="50.png">
					<p></p>
				</div>
				
				<div class="tab-pane" id="tab3">
					<h2 class="text-center">豆瓣主页</h2>	
					<p class="text-center"><a href="豆瓣.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<img src="images/豆瓣.png" alt="豆瓣.png">
					<p></p>
				</div>
				<div class="tab-pane" id="tab4">
					<h2 class="text-center">迅雷登录</h2>	
					<p class="text-center"><a href="迅雷登录.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<img src="images/迅雷登录.png" alt="迅雷登录.png">
					<p></p>
				</div>
				
				
				

			</div>
			
		</div>
	</div>
	
<% include footer %>