<% include header %>
		<div id="content" class="row-fluid" >
			<div class="span3 sidebar">
				<ul class="nav nav-tabs nav-stacked">
					<li class="active"><a href="#tab1" data-toggle="tab">豆瓣主页</a></li>
					<li><a href="#tab2" data-toggle="tab">金山注册</a></li>
					<li><a href="#">未完待续...</a></li>
					
				</ul>
			</div>
			<div class="span9 tab-content main">
				<div class="tab-pane active" id="tab1">
					<h1 class="text-center">豆瓣主页</h1>
					<h4>为了巩固div+css布局，找了一些网站进行练习，下面是一些网页的代码</h4>
					<a href="/" class="btn btn-info">DEMO</a>
					<p></p>
					<p>html代码:</p>
					<pre></pre>
				</div>
				<div class="tab-pane" id="tab2">
					<input type="button" class="btn btn-large" value="DEMO">
				</div>

			</div>
			
		</div>
	</div>
	
<% include footer %>