<% include header %>
		<div id="content" class="row-fluid" >
			<div class="span12 sidebar">
				<ul class="nav nav-tabs">
					<li><a href="#tab1" data-toggle="tab">展示区</a></li>
					<li><a href="#tab2" data-toggle="tab">手风琴</a></li>
					<li><a href="#tab3" data-toggle="tab">transform</a></li>
					<li><a href="#tab4" data-toggle="tab">animation</a></li>
					<li><a href="#tab5" data-toggle="tab">canvas</a></li>
					<li class="active"><a href="#tab6" data-toggle="tab">导航栏</a></li>
					<li><a href="#tab7" data-toggle="tab">分页栏</a></li>
					<li><a href="#tab8" data-toggle="tab">登录框</a></li>
					<li><a href="#tab9" data-toggle="tab">进度条</a></li>
					
				</ul>
			</div>
			<div class="span12 tab-content main">
				<div class="tab-pane" id="tab1">
					<h2 class="text-center">展示区</h2>					
					<p class="text-center"><a href="show.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/show.png" ></p>
				</div>
				<div class="tab-pane" id="tab2">
					<h2 class="text-center">手风琴1</h2>					
					<p class="text-center"><a href="accordion.html" target="_blank" class="btn btn-info">DEMO1</a></p><br>
					<p class="text-center"><img src="/images/accordion.png" ></p>

					<h2 class="text-center">手风琴2</h2>					
					<p class="text-center"><a href="accordion2.html" target="_blank" class="btn btn-info">DEMO2</a></p><br>
					<p class="text-center"><img src="/images/accordion2.png" ></p>
				</div>
				<div class="tab-pane" id="tab3">
					
				</div>
				<div class="tab-pane" id="tab4">
					
				</div>
				<div class="tab-pane " id="tab5">
					<h2 class="text-center">canvas实例</h2>					
					<p class="text-center"><a href="canvas.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/canvas.png" ></p>
				</div>
				<div class="tab-pane active" id="tab6">
					<h2 class="text-center">导航栏1</h2>
					<h4 class="text-center">仿windows8的扁平化设计，最近flat ui很是流行，跟着仿下下</h4>
					<p class="text-center"><a href="navbar1.html" target="_blank" class="btn btn-info">DEMO1</a></p><br>
					<p class="text-center"><img src="/images/navbar1.png" ></p>

					<h2 class="text-center">导航栏2</h2>					
					<p class="text-center"><a href="/navbar2.html" target="_blank" class="btn btn-info">DEMO2</a></p><br>
					<p class="text-center"><img src="/images/navbar2.png" ></p>
					
				</div>
				<div class="tab-pane" id="tab7">
					<h2 class="text-center">分页栏</h2>					
					<p class="text-center"><a href="nextpage.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/nextpage.png" ></p>
				</div>
				<div class="tab-pane" id="tab8">
					<h2 class="text-center">登录框</h2>					
					<p class="text-center"><a href="login.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/login.png" ></p>
				</div>
				<div class="tab-pane" id="tab9">
					<h2 class="text-center">进度条</h2>					
					<p class="text-center"><a href="progress.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/progress.png" ></p>
				</div>
			</div>
		</div>
	</div>
	
<% include footer %>