<% include header %>
		<div id="content" class="row-fluid" >
			<div class="span3 sidebar">
				<ul class="nav nav-tabs nav-stacked">
					<li class="active"><a href="#tab1" data-toggle="tab">box-shadow</a></li>
					<li><a href="#tab2" data-toggle="tab">box-shadow</a></li>
					<li><a href="#">box-shadow</a></li>
					<li><a href="#">box-shadow</a></li>
				</ul>
			</div>
			<div class="span9 tab-content main">
				<div class="tab-pane active" id="tab1">
					<input type="button" class="btn btn-large" value="DEMO">
				</div>
				<div class="tab-pane" id="tab2">
					
				</div>

			</div>
			<p>this is javascript page</p>
		</div>
	</div>
	
<% include footer %>