<% include header %>
		<div id="content" class="row-fluid" >
			<div class="span12 sidebar">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">图片轮播</a></li>
					<li><a href="#tab2" data-toggle="tab">贪吃蛇游戏</a></li>
					<li><a href="#tab3" data-toggle="tab">烟花效果</a></li>
					<li><a href="#tab4" data-toggle="tab">表单</a></li>
				</ul>
			</div>
			<div class="span12 tab-content main">
				<div class="tab-pane active" id="tab1">
					<h2 class="text-center">图片轮播</h2>	
					<p class="text-center"><a href="pictures.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/pictures.png" ></p>
				</div>
				<div class="tab-pane" id="tab2">
					<h2 class="text-center">贪吃蛇游戏</h2>	
					<p class="text-center"><a href="canvas-game.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="" ></p>
				</div>
				<div class="tab-pane" id="tab3">
					<h2 class="text-center">烟花效果</h2>	
					<p class="text-center"><a href="firework.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="" ></p>
				</div>
				<div class="tab-pane" id="tab4">
					<h2 class="text-center">表单</h2>	
					<p class="text-center"><a href="form.html" target="_blank" class="btn btn-info">DEMO</a></p><br>
					<p class="text-center"><img src="/images/form.png" ></p>
				</div>
			</div>
			
		</div>
	</div>
	
<% include footer %>